<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div class="row">

  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        Your LIKES:
      </h1>
    </section>
  </aside>

  <aside class="col-md-8">
    <section class="user_info">
      <% @user_like.each do |ud| %>
      <h1>
        <%= ud.name %>
      </h1>
      <% end %>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        Your ORDERS:
      </h1>
    </section>
  </aside>

 <aside class="col-md-8">
    <section class="user_info">
      <% @order.each do |o| %>
      <h1>
        <%= o.deal_id %>
        <%= o.order_no %>
      </h1>
      <% end %>
    </section>
  </aside>

</div>