<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
      <h1 style="text-align: center;">
        Your LIKES:
      </h1>
    </section>
  </aside>
  </div>

<div class="row">
  <aside class="col-md-8">
    <ul class="users"> 
      <% @user_like.each do |ul| %> 
        <li> <%= link_to ul.name, ul %> <p class="pull-right"><%= "Expire at #{ul.expdate}"%></p></li> 
      <% end %> 
      <li class="pull-right"> <%= link_to "more..", userlike_path %></li> 
    </ul>
  </aside>
</div>


<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
      <h1 style="text-align: center;">
        Your ORDERS:
      </h1>
    </section>
  </aside>
  </div>

<div class="row">
 <aside class="col-md-8">
    <ul class="users"> 
      <% @order.each do |o| %> 
        <li> <%= link_to o.name, o %> <p class="pull-right"><%= "Origin Order# is #{o.order_no}"%></p></li> 
      <% end %> 
      <li class="pull-right"> <%= link_to "more..", userorder_path %></li> 
    </ul>
  </aside>
</div>