<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
      <h1 style="text-align: center;">
        Your LIKES:
      </h1>
    </section>
  </aside>
  </div>
<%= will_paginate @user_like_list %>
  <div class="row">
    <aside class="col-md-8">
      <ul class="users"> 
        <% @user_like_list.each do |ul| %> 
          <li>
            <%= link_to ul.name, ul %>
            <p class="pull-right"><%= "Expire at #{ul.expdate}"%></p>
          </li> 
        <% end %>
        <li class="pull-right">
          <%= link_to "back", current_user %>
        </li> 
      </ul>
    </aside>
  </div>
<%= will_paginate @user_like_list %>