 <h1>Order</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">

 <%= form_for(@order) do |f| %>
        <%= render 'shared/error_messages', object: @order %>

        <div class="form-group">
        <%= f.label :order_no %>
        <%= f.text_field :order_no, class: 'form-control', placeholder: "OrderNumber from the website you buy your items" %>
        </div>

        <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control', placeholder: "Transfer address" %>
        </div>

        <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Receiver's name" %>
        </div>

        <div class="form-group">
        <%= f.label :count %>
        <%= f.text_field :count, class: 'form-control', placeholder: "How many items?" %>
        </div>

        <%= f.hidden_field :deal_id, value: "#{params[:category][:deal_id]}" %> 
        <!-- {params[:category][:deal_id]} is because in button to the new order page, form_for requires an object, use category just because category does not have a create action-->

        <%= f.hidden_field :user_id, value: current_user.id %>

        

        <%= f.submit "Make an Order", class: "btn btn-primary" %>

<% end %>



  </div>
</div>