<p id="notice"><%= notice %></p>
<% provide(:title, "Deals")%>
<h1>Deals</h1>

<%= will_paginate @deal %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pic url</th>
      <th>Effdate</th>
      <th>Expdate</th>
      <th>Price</th>
      <th>Label</th>
      <th>Store</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.name %></td>
        <td><%= deal.pic_url %></td>
        <td><%= deal.effdate %></td>
        <td><%= deal.expdate %></td>
        <td><%= deal.price %></td>
        <td><%= deal.label %></td>
        <td><%= deal.store %></td>
        <td><%= deal.link %></td>

        <td><%= link_to 'Show ', deal %></td>
        <td><%= link_to 'Edit ', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @deal %>
<br>

<%= link_to 'New Deal', new_deal_path %>
