<% provide(:title, "Deals") %>
<%= render 'layouts/leftcol' %>
<div class="col-md-9">

    <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
            <h4 class="pull-right">$<%= "#{@detail.price}"%></h4>
            <h4><a href="#"><%= "#{@detail.name}"%></a>
            </h4>
            <p>
            <%= "#{@detail.intro}"%>
            </p>
        </div>
        <div class="row">
        <div class="col-md-9">
            <div class="ratings_detail">
                <p><%= "#{@comments.count}" %> reviews</p>
            </div>
            <div class="ratings">
                <p><%= "#{@detail.liked.count}" %> like</p>
            </div>
        </div>
        <div class="col-md-3">
            <div>
            <% if logged_in? %>
                <% if current_user.likes.find_by(deal_id: @detail.id) != nil%>
                    <%= render 'shared/unlike' %>
                <% else %>
                    <%= render 'shared/like' %>
                <% end %>
            <% end %>
            </div>
        </div>
        </div>

        
    </div>

    <div class="well">
        <%if logged_in? %>
        <div class="row">
            <div class="col-md-12">
                <div class="widget-area no-padding blank">
                    <div class="status-upload">
                        <%= form_for(@newcomment) do |f| %> 
                            
                            <%= render 'shared/error_messages', object: f.object %>
                            <div class="field">
                            <%= f.text_area :content, placeholder: "What do you think of the deal?" , class: 'form-control'%> 
                            </div> 
                            <%= f.hidden_field :deal_id, value: @detail.id %>
                            <%= f.button("Leave a Review",{class: "btn btn-success green"})%> 
                        <% end %>

                    </div><!-- Status Upload  -->
                </div><!-- Widget Area -->
            </div>
        </div>
        <% end %>



        <hr>

        <% @comments.each do |cm| %>
        <div class="row">
            <div class="col-md-12">
                <p style="font-size:20px"><%= "#{cm.user.name}" %></p>
                <span class="pull-right"><%= "#{cm.created_at}" %></span>
                <p><%= "#{cm.content}" %></p>
            </div>
        </div>
        <% end %>

        <hr>

    </div>
</div>