<!DOCTYPE html>
<html>
  <head>
    <title>MoneySaved</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
  	 <div class="container">
        <div class="row">
            <!--  category display -->
            <div class="col-md-3">
                <p class="lead">Category</p>
                <div class="list-group">
                    <% @category.each do |c| %>
                        <a href="#" class="list-group-item"><%= "#{c.name}"%></a>
                    <% end %>
                </div>
            </div>
    		<%= yield %>
    	</div>
    </div>
  </body>
</html>
